<% @merchants.each do |merchant| %>
  <div id="merchant-<%= merchant.id %>">
    <p> <%=link_to "#{merchant.name}" "/admin/merchants/#{merchant.id}" %></p>
    <p> <%= merchant.city %></p>
    <p> <%= merchant.state %></p>
    <%= button_to "Disable", '/admin/merchants/disable', action: "disable", params: {"merchant_id" => "#{merchant.id}"}, method: :patch if merchant.enabled? %>
    <%= button_to "Enable", '/admin/merchants/enable', action: "enable", params: {"merchant_id" => "#{merchant.id}"}, method: :patch if !merchant.enabled? %>
  </div>
<% end  %>
