<style>
p { color:black;}
</style>
<h1><%= @current_user.name %>'s Profile</h1>
<p> Name: <%= @current_user.name %></p>
<p> Address: <%= @current_user.full_address %></p>
<p> Email: <%= @current_user.email %></p>

<%= link_to 'Edit Profile', "/profile/edit" %>
<%= link_to 'Edit Password', "/password/edit" %>
<%= link_to 'My Orders', "/profile/orders" %>