<section class="grid-container">
<%= link_to 'Add New Item', merchant_items_new_path %>
  <% @items.each do |item| %>
    <section class = "grid-item" id= 'item-<%=item.id%>'>
      <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
      <%= button_to "Deactivate", "/merchant/items/deactivate", params: {:item_id => item.id} if item.active? %>
      <%= button_to "Activate", "/merchant/items/activate", params: {:item_id => item.id} if !item.active?%>
      <%= button_to "Delete Item", "/merchant/items", params: {:item_id => item.id}, method: "delete" if item.item_orders.empty?%>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
      <img src= <%= item.image %>>
      <p> <%= item.description unless @merchant%> </p>
      <p>Price: <%=number_to_currency(item.price) %> </p>
      <p>Inventory: <%= item.inventory %> </p>
      <% if !@merchant %>
      <% end %>
      <% if item.active? %>
        <p>Active</p>
      <% else %>
        <p>Inactive</p>
      <% end %>
    </section>
    <% end %>
</section>
