<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "Home", "/"%>
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>

      <% if current_user.nil? %>
       <%= link_to "Cart: #{cart.total_items}", "/cart" %>
       <%= link_to "Log In", "/login" %>
       <%= link_to "Register", "/register" %>
     <% else %>
         <%= link_to "Cart: #{cart.total_items}", "/cart" if !current_user.admin? %>
         <%= link_to "My Profile", "/profile"  %>
         <%= link_to "Log Out", "/logout", method: :delete %>
         <%= link_to "Merchant Dashboard", "/merchant" if current_user.merchant?%>
         <%= link_to "Admin Dashboard", "/admin" if current_user.admin? %>
         <%= link_to "All Users", "/admin/users" if current_user.admin? %>
       <p1><%= "Logged in as #{current_user.name}"  %></p1>
     <% end %>
    </nav>
    
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p1><%= msg %></p1>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
